<p>Не обработано. (<%=@reason%>)</p>

---

<p>Все вышли на санкиртану, поэтому эти письма вручную не обрабатыватся. Однако, мы посадили робота для их обработки. Чтобы он понял ваше письмо и смог автоматически его обработать, пожалуйста, следуйте следующим правилам:

<ul>
  <li>1. В заголовке письма должна быть указана локация и дата в формате "Локация ДД/ММ/ГГГГ". Например: "Красноярск 25/04/2014", "Санкт-Петербург 20/11/2015".</li>
  <li>2. К письму должен быть прикреплен xls или xslx файл с данными. Пример файла можно взять здесь.</li>
</ul>

Список локаций. Если вы не нашли необходимую локацию, свяжитесь с администратором.
</p>