<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
       
        <%= render partial: "report/form", :locals => {locations: @locations}%>
      </div>

    <div class="lg-col-12">
      <div class="page-header">
        <h1>Buttons</h1>
      </div>
    </div>