<div id="container" height="450"></div>
<%= render partial: "report/form", :locals => {locations: @locations} %>

<script type="text/javascript">
$(function () {
  <% charts = chart() %>
  $('#container').highcharts({
    chart: { type: 'column' },
    title: { text: 'Статистика по городам' },
    //subtitle: {
    //  text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
    //},
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
        align: 'right',
        style: {
          fontSize: '13px',
          fontFamily: 'Verdana, sans-serif'
        }
      }
    },
    yAxis: { min: 0, title: { text: 'Очки' } },
    legend: { enabled: false },
    //tooltip: {
    //  pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>',
    //},
    series: [{
      name: 'Population',
      data: [
        <% charts.each do |key, value| %>
          ['<%=key%>', <%=value%>],
        <% end %>
      ],
      dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        x: 4,
        y: 10,
        style: {
          fontSize: '13px',
          fontFamily: 'Verdana, sans-serif',
          textShadow: '0 0 3px black'
        }
      }
    }]
  });
});
</script>