<div id="container" height="450"></div>
<%= render partial: "report/form", :locals => {locations: @locations} %>

<script type="text/javascript">
$(function () {
  <% charts = chart() %>
  $('#container').highcharts({
    chart: { type: 'column' },
    title: { text: 'Статистика по городам' },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
        align: 'right',
        style: {
          fontSize: '13px',
          fontFamily: 'Verdana, sans-serif'
        }
      }
    },
    yAxis: { min: 0, title: { text: 'Очки' } },
    legend: { enabled: false },
    series: [{
      name: 'Очки',
      data: [
        <% charts.each do |key, value| %>
          {name:'<%=key%>', y:<%=value%>},
        <% end %>
      ]
    }]
  });
});
</script>